<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMRQfQsrtdWEM8y48y73mZ84SUIf6WV7msSu-4cAQEJqdoIaD8af7Wmi7eX8j3om-dPWg&usqp=CAU "align="left"hight="250" width="250">
<h1 align="center" style="color:rgb(236, 18, 18);"> St. Mary's Group | Best Engineering College Hyd
    </h1>
<h5 align="center" style="color:green">Near Ramoji Film City, Behind Mount Opera Batasingaram, Hayathnagar, Hyderabad, Telangana 501505 </h5>
<hr>
<br>
<h4 style="color:darkblue">Overview</h4>
<p>
    We offer a wide range of high-quality teaching and extra-curricular activities.
We offer a range of courses with specialized areas and can offer blended learning opportunities to best meet your career needs. If sitting in a room with a faculty and having the opportunity for discussion with other learners sounds good to you then St.Mary’s is the right place for you.

We create an atmosphere for you to enjoy your learning and upgrade your skills to meet and exceed in the academics and also be a responsible citizen of our nation.
</p>
<ol type="1">
    <li>AFFILIATIONS
St. Mary’s Group of colleges are affiliated with JNTU Hyderabad, JNTU Kakinada, Osmania University, Mahatma Gandhi University Hyderabad, Acharya Nagarjuna University, and the West Bengal University of Technology.

All the courses are approved by AICTE and the Institution is Accredited by NBA.  </li>
    <li> ACADEMIC POLICY
We at St. Mary’s focus on providing academic calendar to the students well ahead of the commencement of the Semesters. We concentrate more on academic standards and student empowerment by conducting programs such as Guest Lectures, Industrial Tours, Seminars, Workshops, Training Sessions & Pleasure Trips. </li>
    <li> ACADEMIC POLICY
We at St. Mary’s focus on providing academic calendar to the students well ahead of the commencement of the Semesters. We concentrate more on academic standards and student empowerment by conducting programs such as Guest Lectures, Industrial Tours, Seminars, Workshops, Training Sessions & Pleasure Trips.</li>
    <li> ACADEMIC ACHIEVEMENTS
Our Student Ms. M.Meena Kumari has been awarded JNTUH Gold Medal for being the University Topper / first rank among all affiliated colleges of JNTUH. The gold medal was awarded in the 5th convocation at JNTU University Hyderabad by the Hon’ble Governor of Andhra Pradesh. </li>
    <li>ANTI RAGGING
College campus is a place to find valuable friendship and to cherish-unforgettable moments. We, here at St. Mary’s strongly condemn any kind of ragging practices. Our students welcome the freshers with flowers and advice and they do not believe in violence or unhealthy practices.  </li>
</ol>
<p>?

   
     PLACEMENTS
The college provides to its students unparalleled placements in India and feels proud to have secured for them placements in 300+ Global and Indian Super Brands. Being instrumental in securing for its students the best of the lucrative jobs in various professional fields bears testimony of St.Marys claim to excellence.
</p> <p>
ST.MARY'S ALUMNI
The college organizes Alumni Meet every year. The management felicitates alumni and an interactive session is organized with the students. This helps the outgoing students to plan their career and also to get good support and guidance from their seniors. The Alumni also gives suggestions for the benefit of the students.


    